<div class="row d-flex"
    style="justify-content: center; flex-direction: column; align-items: center; flex-wrap: nowrap; width: 100%; height: 100vh;">

    <input class="form-control w-25" type="file" (change)="onFileSelected($event)" accept=".pdf" />

    <pdf-viewer id="pdf" [src]="pdfSrc" [render-text]="true" [page]="currentPage" [show-all]="false" [zoom]="0.75"
        (after-load-complete)="afterLoadComplete($event)" style="width: 100%; height: 90vh; position: relative;">
    </pdf-viewer>

    <div class="signature-container" style="width: 100%; height: 100%; position: absolute; display: flex; justify-content: center;">
        <div class="signature-page" style="position: relative;">
            <div cdkDrag [cdkDragData]="selectedSignature" class="signature"
                *ngFor="let signature of signatures; let i = index" [style.left.px]="signature.x"
                [style.top.px]="signature.y" [style.width.px]="signature.width" [style.height.px]="signature.height">
                <div>
                    <span>Signature {{ i + 1 }}</span>
                    <button (click)="removeSignature(i)">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center" style="z-index: 3;">
        <button class="btn btn-secondary col-1" style="margin: 0 2%;" (click)="goToPrevPage()"
            [disabled]="currentPage === 1">Prev Page</button>
        <button class="btn btn-secondary col-1" style="margin: 0 2%;" (click)="goToNextPage()"
            [disabled]="currentPage === totalPages">Next Page</button>

        <button class="btn btn-primary col-1" style="margin: 0 2%;" (click)="addSignature()">Add Signature</button>
    </div>
</div>