.page {
    padding-bottom: 0 !important;
}

.signature-container {
    overflow: hidden;
}

.signature-page {
    overflow: hidden;
}

.signature {
    position: absolute;
    cursor: move;
}

.signature-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 4px;
    background-color: rgba(0, 255, 0, 0.2);
}

.signature-content span {
    font-size: 1rem;
}

.resizeHandle {
    position: absolute; 
    bottom: 0;
    right: 0;
    aspect-ratio: 1;
    width: 10px;
    background-color: red !important;
    cursor: nw-resize;
}