* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    padding-bottom: 0 !important;
}

.signature-container {
    overflow: hidden;
}

.signature-page {
    overflow: hidden;
}

.signature {
    position: absolute;
    cursor: move;
}

.signature div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color: rgba(0, 255, 0, 0.2);
}

.resizeHandle {
    position: absolute; 
    bottom: 0;
    right: 0;
    aspect-ratio: 1;
    width: 5px;
    height: 5px;
    background-color: red !important;
    cursor: nw-resize;
}