@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr.css';
@import '~ngx-spinner/animations/ball-clip-rotate.css';

* {box-sizing: border-box;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
